$base: (
  spacing: 30px,
  line-height: 1.4,

  xlarge: (
    spacing: 4vw,
  ),
);

$screens: (
  large: 700px,
  xlarge: 1600px,
);

$type-size: (
  base: 21px,
  p: 24px,

  large: (
    base: 24px,
    p: 46px,
  ),

  xlarge: (
    base: 1.5vw,
    p: 2.5vw,
  ),
);
