@import './settings';
@import './helpers';

// Type
body,
.h-base {
  font-size: type(base);

  @include media(large) {
    font-size: type(large, base);
  }
}

p,
.h-p {
  font-size: type(p);

  @include media(large) {
    font-size: type(large, p);
  }
}

.cta,
.h-cta {
  font-size: type(cta);

  @include media(large) {
    font-size: type(large, cta);
  }
}

// Colors
body {
  background-color: black;
  color: white;
}

// Layout
// 4x3 grid
.layout {
  display: grid;
  grid-template-columns: 10% auto auto 10%;
  grid-template-rows: 10% auto 10%;
}

.layout__primary {
  grid-column-start: 2;
  grid-column-end: 3;
}

.layout__secondary {
  grid-column-start: 3;
  grid-column-end: 4;
}

.layout__primary,
.layout__secondary {
  grid-row-start: 2;
  grid-row-end: 3;
}

// Gallery
.gallery {
  position: absolute;
  left: -1000;
}

// CTA
.cta {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
}
